.main-menu {

    gap: 0px;
    position: fixed;
    transform: translateX(-100%);
    // transition: 
    //     transform 0.3s ease-out,
    //     filter 0.3s ease-out;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
    &--expanded {
        transform: translateX(0%);
        transition: 
        transform 0.3s ease-out,
        filter 0.3s ease-out;
    }

    &--modal-expanded {
        filter: saturate(2%) blur(5px);
    }

    &-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: $bgColor-light;
        min-width: 320px;
        max-width: 360px;
        z-index: 3;
        box-shadow: 
        -2px 0px 4px rgba(69, 79, 126, 0.02), 
        16px 0px 52px rgba(14, 24, 80, 0.2);

        @media screen and (min-width: 768px) {
            max-width: 320px;
        }

        @media screen and (min-width: 1366px){
            box-shadow: none;
        }
    }
    &-empty-area {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
         z-index: -1;

        &--expanded {
            width: 100%;
            height: 100%;
        }

        @media screen and (min-width: 1366px){
            display: none;
        }
    }

    @media screen and (min-width: 1366px){
        transform: translateX(0%);
        width: auto;
    }

}
    