.page {
    
    width: 100%;
    position: absolute;
    display: flex;
    margin: auto;
    font-weight: normal;
    flex-direction: column;
    gap: 24px;
    background-color: $bgColor-dark;
    min-width: 320px;
    overflow-x: hidden;
    transition: filter 0.3s ease-out;
    z-index: 1;

    &--modal-expanded {
        // filter: opacity(0.2);
        filter: saturate(2%) blur(5px);
        overflow: hidden;
    }

    @media screen and (min-width: 1366px){
        width: calc(100% - 320px);
        left: 320px;
    }
}