.main-menu-header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    box-sizing: border-box;
    margin: 24px;
    height: 40px;

    @media screen and (min-width: 1366px){
        margin-top: 35px;
    }

    &__logo {
        width: 96.55px;
        height: 50.81px;
        margin-right: auto;

    }

    &__button-close {
        @media screen and (min-width: 1366px){
            display: none;
        }
    }
}